
services:
  golangci:
    image: golangci/golangci-lint:v2.10.1
    command: [golangci-lint, run, -v]
    working_dir: /app
    volumes:
      - "golangci_cache:/root/.cache"
      - ".:/app"

volumes:
  golangci_cache: {}
